
#imgid{
border-radius: 360px;
}
#imgid:hover{
    transform: scale(1.1); 
}
#g{
    padding-top: 40px;
    padding-bottom: 10px;
    
    
}

#v1{
    background: url(img4.png) no-repeat 0% 50%;
    rotate: left;
    text-align: center;
}
.site-main .site-banner .site-title h1{
    padding-top: 180px;
    font-weight: 500;
}

#imgi{
    margin-top: 5vh;
}


#fixed{
    
    padding-top: 70px;
    
}
#fixeds{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 120px;
}
#b{
    
   margin-left: 400px;
   height: 10vh;
}
#ba{
 margin-left: 7;
}
#back{
 background-image: url(img.png);
}
#pad{
    padding: 20px 20px 20px 20px;
}

#no{
    text-decoration: none;
}
#v{
    display: grid;
    justify-content: center;
}
#m{
    padding-top: 70px;
}


#Text{
   text-align: center;
   display: grid;
   justify-content: center;
}
#glow:hover{
    transform: scale(1.1);

}
#glow1{
    padding-top: 20px;
}
#glow1:hover{
    transform: scale(1.1);
}

#padding{
    padding-top: 10vh;
    width: 80rem;
    border-radius: 360px;
}   
#pa{
    padding: 20px 10px 35px 10px ;
    column-gap: 10px;
    justify-content: center;
    
}
#back{
    background-image: url(img4.png);
}
#ab{
    position: fixed;
}
#Texts{
    text-align: center;
    padding-top: 40px;
    
    padding-bottom: 20px;
}
#pic{
    width:320px;
}
#pi{
    width: 320px;
}

.none{
    display: none;
}
#top-pa{
    padding-top: 20px;
    padding-bottom: 10px;
}
#con{
    background-image: url(bgimg.jpg);
    
}
#ll{
   background-image: url(blog4.jpg); 
   margin-top: 50px;
}
#ff{
    width: 100px;
}
#f{
    padding-top: 20px;
    padding-bottom: 10px;
    row-gap: 6px;

}
#c{
    padding-top: 50px;
    padding-bottom: 5px;
}
form{
    background-image:url(contact2.jpg);
    display: flex;
    flex-direction: column;
    
    width: 90%;
    max-width: 600px;
    padding: 2vw 4vw;
    color: black;
}
#contact{
    background-image: url(contact.png);
}
#ca{
    width: 300px;
    text-align: center;
    height: 8vh;
    
}

#modify{
    padding-top: 30px;
    padding-bottom: 30px;
    
}


#bb{
    border-style: dotted;
    padding: 10px 10px 10px 10px;
}
#bb:hover{
    transform: scale(1.1);
}
#la{
    width: 360px;


}

#ll{
    padding-top: 100px;
    padding-bottom: 50px;
}

#gap{
    column-gap: 150px;
    row-gap: 50px;
}
#wa{
    padding-top: 10px;
    padding-bottom: 30px;
   
}
#w{
    width: 100px;
    background-color: antiquewhite;
}
#top{
    padding-top: 40px;
}
#al{
    text-align: center;
    padding-top: 10px;
}
form h3{
    color: rgb(55, 53, 50);
    font-weight: 800;
    margin-bottom: 20px;

}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    border-style: none;
    background-color: white;
    font-size: 16px;

}
form button{
    padding: 10px;
    background-color: rgb(42, 13, 148);
    color: white;
    font-size: 18px;
    outline: none;
    cursor: pointer;
    width: 160px;
    margin: 20px auto 0;
    border-radius: 50px;
    
}
#T{
    border-radius: 50px;
   
}
#Textv{
    text-align: center;
    display: grid;
    justify-content: center;  
    padding-top: 40px;
    padding-bottom: 40px;

}