img{
    border-radius: 360px;
}

#v1{
    background: url(img4.png) no-repeat 0% 50%;
    rotate: left;
    text-align: center;
}
.site-main .site-banner .site-title h1{
    padding-top: 180px;
    font-weight: 500;
}

#imgi{
    margin-top: 5vh;
}
body{
    height: 175vh;
}
#v{
    display: grid;
    justify-content: center;
}
#padding{
    padding-top: 10vh;
}
#pa{
    padding: 20px 10px 35px 10px ;
    column-gap: 10px;
    justify-content: center;
    
}
